.Errors {
   min-height: 100vh;
  background: {
    image: url('./img/404.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  &-container {
    margin: 20vh auto 0;
    width: 70%;
    text-align: center;
    color: #FFF;

    & h2 { font-size: 10rem; }

    & p {
      font: {
        weight: bold;
        size: 1.5rem;
      }
      margin: 1rem auto;
    }
  }
}
